body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.backgroundColor {
  background-color: #ffffff;
}
p {
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
}

#borderDemo {
  border: 8px outset #72a675;
  border-radius: 10px;
}

/* not working properly yet */
#backgroundColor {
  background-color: #72a675;
}

#borderHome {
  border-bottom: 4px double #d3c95d;
}

.myButton {
  margin-left: 55px;
  background-color: #d3c95d;
  border-radius: 1px;
  border: 1px solid #adad3b;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 5px 53px;
  text-decoration: none;
}
.myButton:hover {
  background-color: #cec787;
}
.myButton:active {
  position: relative;
  top: 1px;
}

#borderMission {
  border: 4px double #d3c95d;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 400px;
  margin-top: 100px;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}
